Repository codeforireland2/transparentwater_backend_new, pull requests merged in 2018-07, with the labels that each got.

#22 Code to get a diff between 2 JSON entries
  package.json
  src/Diff/parse.js
  src/Diff/test/parse.test.js
  src/FetchService/test/apis.test.js
  test/diff-sample-in-new.json
  test/diff-sample-in-old.json
  test/sample-in.json
  test/sample-out.json
  yarn.lock
Labels: enhancement

#23 Basic Node and ExpressJS API server with jest tests
  .eslintrc.json
  .gitignore
  .travis.yml
  package-lock.json
  package.json
  src/APIServer/app.js
  src/APIServer/bin/www
  src/APIServer/config/database.json
  src/APIServer/docs/sampledata.json
  src/APIServer/migrations/20180517174214-add-alerts.js
  src/APIServer/model/db.js
  src/APIServer/model/notice.js
  src/APIServer/public/stylesheets/style.css
  src/APIServer/routes/notices.js
  src/APIServer/server.js
  src/APIServer/tests/app.test.js
  yarn.lock
Labels: API

#25 Docker support for the API server
  .dockerignore
  .gitignore
  .travis.yml
  Dockerfile
  docker-compose.yml
  package.json
  src/APIServer/model/db.js
  src/APIServer/tests/app.test.js
Labels: API, development process
